<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>84204323794-itcb14b868j5ovudqpqe641lpam2ur8f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.84204323794-itcb14b868j5ovudqpqe641lpam2ur8f</string>
	<key>API_KEY</key>
	<string>AIzaSyBnRT9Z8uH6bMjanafkvs1GzBWQGR7lESo</string>
	<key>GCM_SENDER_ID</key>
	<string>84204323794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.semvac.semvacViet</string>
	<key>PROJECT_ID</key>
	<string>semvac-cfa16</string>
	<key>STORAGE_BUCKET</key>
	<string>semvac-cfa16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84204323794:ios:522b3d62fac831bb41be0b</string>
</dict>
</plist>
